# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Build output (React)
frontend/build/
mini-rag/server_curl_tests.txt

# Cache
.cache/
dist/
.DS_Store

# Editor stuff
.vscode/
.idea/
*.swp
